RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /project-default/index.php?url=$1 [QSA,L]

#https://php.eduardokraus.com/trabalhando-com-url-amigavel-no-php