<div class="cancel_data">
    <div class="divider_form">
        <h5>Informe os dados de cancelamento:</h5>
        <hr style="border-top: 2px solid #95afc0">
    </div>
    <div class="form-row">
        <div class="form-group col-md-3">
            <label>Data do cancelamento</label>
            <input class="form-control form-control-sm" name="data_cancelamento" value="" type="date" autocomplete="off" required>
        </div>
        <div class="form-group col-md-2">
            <label>Multa</label>
            <input class="form-control form-control-sm" name="multa" value="" type="text" autocomplete="off" required>
        </div>
        <div class="form-group col-md-2">
            <label>Reembolso</label>
            <input class="form-control form-control-sm" name="reembolso" value="" type="text" autocomplete="off" required>
        </div>
        <div class="form-group col-md-2">
            <label>Número PC</label>
            <input class="form-control form-control-sm" name="numero_pc" value="" type="text" autocomplete="off" required>
        </div>
        <div class="form-group col-md-2">
            <label>Taxas Extras</label>
            <input class="form-control form-control-sm" name="taxas_extras" value="" type="text" autocomplete="off" required>
        </div>
    </div>
</div>