<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Beach Park | Login</title>
    <link rel="icon" type="image/png" href="app/images/logo.png" />

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="app/templates/assets/css/bootstrap.min.css">
    <!-- Optional CSS -->
    <link rel="stylesheet" href="app/templates/assets/css/login.css">

</head>
    <body>

    <!-- Form login -->
    <div class="container-fluid">    
        {content}      
    </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="app/templates/assets/js/jquery-3.3.1.min.js"></script>
    <script src="app/templates/assets/js/bootstrap.min.js" ></script>
     
    <!-- Optional JavaScript -->
    <script type="text/javascript" src="app/templates/assets/js/login_script.js"></script>

    </body>
</html>