<!doctype html>
<html lang="en">
  <head>      
    <title>Beach Park | Renegociação</title>
    <link rel="icon" type="image/png" href="app/images/logo.png" />
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="app/templates/assets/css/bootstrap/bootstrap.min.css">    
    <!-- Optional CSS -->
    <link rel="stylesheet" href="app/templates/assets/css/sidebar.css">
    <link rel="stylesheet" href="app/templates/assets/css/main.css">
  </head>

  <body>
        <div id="wrapper">

            <!-- Sidebar -->
            <div id="sidebar-wrapper">

                <!-- logo -->
                <div class="company_name">
                    <a href="index.php">Renegociação</a>
                </div>

                <ul class="sidebar-nav">
                    <li><a href="index.php">Home</a></li>
                    <li><a href="?class=OcorrenciasList">Ocorrências</a></li>
                    <!-- <li><a href="?class=UsersList">Clientes</a></li> -->
                    <li><a href="?class=NegociacaoList">Negociações</a></li>
                    <!-- <li><a href="#">Retençoes</a></li>
                    <li><a href="#">Reversões</a></li> -->
                    <li><a href="#">Pendências</a></li>
                    <li><a href="#">Performance</a></li>
                    <li><a href="?class=LoginForm&method=onLogout">Logout</a></li>
                </ul>
                
            </div>

            <!-- Main -->
            <div id="page-content-wrapper">

                <!-- navbar -->
                <nav class="navbar navbar-expand-lg navbar-light navbar-custom mb-3"> 
                    <div title="Recolher" id="menu-toggle"></div>
                    
                    <button class="navbar-toggler" data-toggle="collapse" data-target="#collapse_target">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="collapse_target">
                        <ul class="navbar-nav ml-auto" id="menu-top">
                            <li class="nav-item ml-auto"></li>
                            <li class="nav-item ml-auto"></li>
                            <li class="nav-item ml-auto"></li>
                            <li class="nav-item ml-auto">{user_email}</li>
                            <!-- <li class="nav-item ml-auto">anne@beachpark.com.br</li> -->
                        </ul>
                    </div>                
                </nav>
                <!-- toast area notification -->
                <div aria-alive="polite" aria-atomic="true" class="position-relative">
                    <div class="position-absolute" id="toast-place" style="top: 0px; right:20px; z-index: 1;"></div>
                </div>
                
                <!-- page view -->
                <div class="container-fluid">
                
                    {content}
                </div>
                
            </div>
        </div>


        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script type="text/javascript" src="app/templates/assets/js/jquery/jquery-3.5.1.js"></script>
        <script type="text/javascript" src="app/templates/assets/js/popper/popper.js"></script> 
        <script type="text/javascript" src="app/templates/assets/js/bootstrap/bootstrap.min.js" ></script>

        <!-- Template JavaScript -->
        <script type="text/javascript" src="app/templates/assets/js/script.js"></script>

        <!-- Application JavaScript -->
        <script type="text/javascript" src="app/include/js/jquery.mask.js"></script>    
        <script type="text/javascript" src="app/include/js/scripts_app.js"></script>
        <script type="text/javascript" src="app/include/js/moment.min.js"></script>

    </body>

</html>